<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New student</title>
</head>
<body>

<form th:method="POST" th:action="@{/students}" th:object="${student}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>

    <label for="admissionYear">Enter admission year: </label>
    <input type="text" th:field="*{admissionDate}" id="admissionYear"/>
    <br/>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>

    <input type="submit" value="Create!"/>
</form>

</body>
</html>