<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<p th:text="${'Id: ' + student.getId()}">VALUE</p>
<p th:text="${'Name: ' + student.getName()}">VALUE</p>
<p th:text="${'Course: ' + student.getCourse()}">VALUE</p>
<p th:text="${'Email: ' + student.getEmail()}">VALUE</p>
<a th:href="@{/students/{id}/edit(id=${student.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/students/{id}(id=${student.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>